<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BookDetailMapper">


	<select id="detail" resultType="com.dalmaji.app.bookDetail.vo.BookDetailVo">
		SELECT 
		    L.BOOK_IMG
		    , L.TITLE
		    , L.AUTHOR
		    , L.COMPANY
		    , TO_CHAR(L.PUBLISHER_YEAR, 'YYYY/MM/DD') PUBLISHER_YEAR
		    , L.BOOK_NO
		    , L.BOOK_ROOM_NO
		    , R.ROOM_NAME
		    , S.STATUS_NO
		    , S.BOOK_STATE
		FROM BOOK_LIST L
		JOIN BOOK_ROOM R ON R.BOOK_ROOM_NO = L.BOOK_ROOM_NO
		JOIN BOOK_STATUS S ON S.STATUS_NO = L.STATUS_NO
		WHERE L.BOOK_NO = #{bookNo}
	</select>
	
	<select id="dueDate" resultType="com.dalmaji.app.borrow.vo.BorrowVo">
		SELECT
		    B.BOOK_NO
		    , TO_CHAR(B.DUE_DATE, 'YYYY/MM/DD') DUE_DATE
		FROM BORROW B
		JOIN BOOK_LIST L ON L.BOOK_NO = B.BOOK_NO
		WHERE L.BOOK_NO = #{bookNo}
	</select>
	
</mapper>