<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BookMapper">


	<select id="list" resultType="com.dalmaji.app.book.vo.BookVo">
		SELECT
		BOOK_NO
		,BOOK_CATE_NO
		,TITLE
		,AUTHOR
		,COMPANY
		,CONT
		,TO_CHAR(PUBLISHER_YEAR , 'YYYY"년도"') AS PUBLISHER_YEAR
		FROM BOOK_LIST 
		
	</select>

	<select id="count" resultType="String">
		SELECT COUNT(*) AS LISTCOUNT
		FROM BOOK_LIST 
		
	</select>
	
	<insert id="insert">
		INSERT INTO BOOK_LIST
		(
		    BOOK_NO
		    ,TITLE
		    ,AUTHOR
		    ,TO_CHAR(PUBLISHER_YEAR , 'YYYY"년도"') AS PUBLISHER_YEAR
		)
		VALUES
		(
		    SEQ_BOARD_NO.NEXTVAL
		    , #{title}
		    , #{author}
		    , #{publisherYear}
		)
	</insert>
	

	<select id="detail" resultType="com.dalmaji.app.book.vo.BookVo">
		SELECT
		BOOK_NO
		,BOOK_CATE_NO
		,TITLE
		,AUTHOR
		,COMPANY
		,CONT
		,PUBLISHER_YEAR
		,BOOK_IMG
		FROM
		BOOK_LIST
		WHERE 
        TITLE LIKE '%' || #{title} || '%' OR
        AUTHOR LIKE '%' || #{author} || '%' OR
        COMPANY LIKE '%' || #{company} || '%'
	</select>

	<update id="edit">
		UPDATE BOOK_LIST
		SET TITLE= #{title}
		, AUTHOR = #{author}
		, COMPANY = #{company}
		WHERE BOOK_NO = #{bookNo}
	</update>



</mapper>