<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberBorrowListMapper">
  
  <select id="list" resultType="com.dalmaji.app.borrow.vo.BorrowVo">
  	SELECT
	    O.OVERDUE_NO 
	    , L.BOOK_NO
	    , L.TITLE
	    , L.AUTHOR
	    , L.COMPANY
	    , M.NAME
	    , TO_CHAR(B.BORROW_DATE, 'YYYY/MM/DD') BORROW_DATE
	    , TO_CHAR(B.DUE_DATE, 'YYYY/MM/DD') DUE_DATE
	    , M.OVERDUE_COUNT
	    , S.BOOK_STATE
	    , BO.B_OPTION
	    , BO.O_NO
	FROM OVERDUE O
	JOIN BORROW B ON B.BORROW_NO = O.BORROW_NO
	JOIN BOOK_STATUS S ON S.STATUS_NO = O.STATUS_NO
	JOIN BOOK_LIST L ON L.BOOK_NO = B.BOOK_NO
	JOIN (MEMBER M JOIN B_OPTION BO ON BO.O_NO = M.O_NO) ON M.MEMBER_NO = O.MEMBER_NO
	WHERE M.DEL_YN = 'N'
	AND M.MEMBER_NO = #{memberNo}
	ORDER BY O.OVERDUE_NO DESC
  </select>
  
  <select id="count" resultType="String">
 	SELECT COUNT(*) AS LISTCOUNT
	FROM OVERDUE O
	JOIN BORROW B ON B.BORROW_NO = O.BORROW_NO 
	JOIN BOOK_STATUS S ON S.STATUS_NO = O.STATUS_NO
	JOIN BOOK_LIST L ON L.BOOK_NO = B.BOOK_NO
	JOIN MEMBER M ON M.MEMBER_NO = O.MEMBER_NO
	WHERE M.DEL_YN = 'N'
  </select>
  
  
</mapper>